.banner {
	height: 200px;
	width: 100%;
	background:url(../images/bandeau-cv.jpg) no-repeat;
	background-size: cover;
}

.skills {
	background:url(../images/competences.jpg) center no-repeat;
	height: 136px;
	margin-bottom: 50px;
}

.mainContent {
    background: #ffffff;
    margin-left: 260px;
    height: 100%;
    overflow: auto;
}

/*.content {
	margin: 50px 20px 20px 20px;
}*/

.item-menu {
  width: 100px;
  color: #ffffff;
  margin: 0;
  display: inline-block;
  height: 25px;
  margin-bottom: 30px;
}

ul li img{
  width: 60px;
  height: 40px;
  vertical-align: middle;
}